@import url(normalize.css);
ul {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

h1 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #3d4f9f;
  margin-bottom: 25px; }
  @media (max-width: 992px) {
    h1 {
      font-size: 36px; } }
  @media (max-width: 520px) {
    h1 {
      font-size: 24px;
      margin-bottom: 8px; } }

h2 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #3d4f9f; }
  @media (max-width: 992px) {
    h2 {
      font-size: 24px; } }
  @media (max-width: 520px) {
    h2 {
      font-size: 12px; } }

h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #3d4f9f; }
  @media (max-width: 520px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  color: #3d4f9f;
  font-size: 10px;
  margin-bottom: 25px;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    h4 {
      font-size: 8px; } }
  @media (max-width: 520px) {
    h4 {
      font-size: 12px;
      margin-bottom: 5px; } }

h5 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d4f9f;
  margin-bottom: 20px; }

.bold_text {
  font-weight: 500; }

body {
  padding-top: 72px;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 519px) {
    body {
      padding-top: 48px; } }

.section_outer {
  border-bottom: 1px solid #d8e3fe; }

.section_inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section_inner--wide {
    max-width: 1200px; }
    @media (max-width: 520px) {
      .section_inner--wide {
        padding-left: 10px; } }
  @media (max-width: 992px) {
    .section_inner {
      padding: 60px 40px; } }

path {
  fill: #b6bac7; }

.section-header {
  padding: 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff; }
  .section-header .section_inner {
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 520px) {
      .section-header .section_inner {
        padding: 10px 10px; } }
  .section-header::before {
    content: '';
    position: fixed;
    top: 205px;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }
    @media (max-width: 520px) {
      .section-header::before {
        top: 305px; } }
  .section-header--active::before {
    display: block; }

.main_navigation {
  display: flex;
  align-items: center; }
  @media (max-width: 990px) {
    .main_navigation {
      flex-wrap: wrap; } }

.section-header--active .navigation_wrapper {
  display: flex; }

.section-header--active .body {
  overflow: hidden;
  /* Hide scrollbars */ }

.main_socials {
  display: flex;
  align-items: center;
  margin-left: auto; }

.logo {
  display: block;
  width: 100%;
  height: auto;
  background-color: #5e81fe;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin-right: 72px; }

@media (max-width: 990px) {
  .nav--header {
    margin-bottom: 30px; } }

.navigation_wrapper {
  display: flex;
  width: 100%;
  align-items: center; }
  @media (max-width: 990px) {
    .navigation_wrapper {
      display: none;
      flex-direction: column; } }

.nav-wrapper {
  display: flex; }
  .nav-wrapper-item {
    list-style: none; }
    .nav-wrapper-item + .nav-wrapper-item {
      margin-left: 40px; }
    .nav-wrapper-item-link {
      font-family: 'Quicksand', sans-serif;
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      color: #697ca6;
      transition: 0.2s linear; }
      .nav-wrapper-item-link:hover {
        color: #5e81fe; }

.socials-wrapper {
  display: flex;
  list-style: none; }
  .socials-wrapper-item + .socials-wrapper-item {
    margin-left: 40px; }
  .socials-wrapper-item-link path {
    transition: 0.2s linear; }
  .socials-wrapper-item-link:hover path {
    fill: #6188ff; }

.btn {
  margin-left: 44px;
  padding: 12px 16px;
  background-color: #d2e1ff;
  color: #3a79ff;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s linear; }
  .btn:hover {
    background-color: #305ab4; }
  @media (max-width: 990px) {
    .btn {
      margin: 0 auto; } }

.btn-burger {
  display: none;
  margin-left: auto;
  padding: 8px 8px;
  background: none;
  border: 1px solid #D1D1E4;
  border-radius: 4px;
  cursor: pointer; }
  .btn-burger_line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d6dae5; }
    .btn-burger_line + .btn-burger_line {
      margin-top: 4px; }
  .btn-burger:active .btn-burger_line {
    background-color: grey; }
  .btn-burger:active {
    border: 1px solid grey; }
  @media (max-width: 990px) {
    .btn-burger {
      display: block; } }

.section-hero-image {
  background-color: #f1f5ff;
  height: 570px;
  position: relative; }
  @media (max-width: 519px) {
    .section-hero-image {
      max-height: 410px; } }

.slider-image-item {
  background: url("../images/hero/back.png") center no-repeat;
  background-size: cover; }

.section_inner--hero {
  padding: 0;
  height: 100%; }

.slider-image {
  list-style: none; }

.hero_content {
  margin: 0 auto;
  text-align: center;
  padding-top: 92px;
  max-width: 584px; }
  @media (max-width: 519px) {
    .hero_content {
      padding-top: 52px; } }
  .hero_content-p {
    color: #8d96bd;
    line-height: 191%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    max-width: 504px;
    margin-bottom: 20px; }
    @media (max-width: 519px) {
      .hero_content-p {
        max-width: 215px; } }
    @media (max-width: 519px) {
      .hero_content-p {
        font-size: 8px; } }
  @media (max-width: 519px) {
    .hero_content-title {
      max-width: 215px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; } }

.swiper-pagination-bullets {
  margin-bottom: 35px; }

.swiper-pagination-bullet {
  cursor: pointer;
  width: 16px;
  height: 16px; }

.swiper-pagination {
  justify-content: center; }

.icon_play {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  height: 52px;
  width: 52px;
  border-radius: 100%;
  margin: 0 auto; }
  .icon_play::before {
    display: block;
    width: 0;
    height: 0;
    margin-left: 16px;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 8px 12px;
    border-left-color: #5e81ff; }

.section-customers .section_inner {
  padding-top: 60px;
  padding-bottom: 60px; }

.customers {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 992px) {
    .customers {
      max-width: 400px;
      margin: 0 auto; } }
  .customers_item {
    opacity: .1;
    transition: 0.2s linear; }
    .customers_item:hover {
      opacity: 1; }
    @media (max-width: 992px) {
      .customers_item {
        width: 50%;
        text-align: center;
        margin-bottom: 40px; }
        .customers_item:last-child {
          width: 100%;
          margin: 0 auto;
          text-align: center; } }
    @media (max-width: 520px) {
      .customers_item {
        width: 100%; } }
  @media (max-width: 992px) {
    .customers {
      flex-wrap: wrap; } }

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden; }

.hero_content-title--plan {
  font-size: 36px; }

.plan_content {
  width: 50%; }
  @media (max-width: 992px) {
    .plan_content {
      width: 35%; } }
  @media (max-width: 700px) {
    .plan_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%; } }

@media (max-width: 700px) {
  .hero_content-p--plan {
    margin: 0 auto; } }

@media (max-width: 992px) {
  .section_inner--plan {
    padding-top: 80px;
    padding-bottom: 80px; } }

@media (max-width: 768px) {
  .section_inner--plan {
    text-align: center; } }

@media (max-width: 700px) {
  .section_inner--plan {
    padding-bottom: 0px; } }

@media (max-width: 520px) {
  .section_inner--plan {
    padding-top: 40px; } }

.image_aside {
  position: absolute;
  top: 0;
  left: 45%;
  z-index: 1; }
  @media (max-width: 1025px) {
    .image_aside {
      left: 35%; } }
  @media (max-width: 992px) {
    .image_aside {
      left: 25%; } }
  @media (max-width: 830px) {
    .image_aside {
      max-width: 700px;
      top: 50px; } }
  @media (max-width: 700px) {
    .image_aside {
      position: unset;
      width: 100%;
      margin: 0 auto;
      max-height: 550px;
      margin-top: 30px; } }

.plan_btns {
  margin-top: 70px;
  display: flex; }
  @media (max-width: 830px) {
    .plan_btns {
      flex-wrap: wrap;
      margin-top: 0px; } }
  .plan_btns-item {
    text-decoration: none;
    background-color: #4C85FF;
    padding: 13px 25px;
    align-items: center;
    border-radius: 2px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer; }
    .plan_btns-item-str {
      margin-left: 5px; }
    @media (max-width: 830px) {
      .plan_btns-item {
        margin-bottom: 10px; } }
    @media (max-width: 700px) {
      .plan_btns-item {
        margin-bottom: 0px;
        margin-right: 10px; } }
    .plan_btns-item-noBg {
      text-decoration: none;
      border-radius: 2px;
      padding: 13px 25px;
      border: 1px solid #D1D1E4;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      color: #adb4d2; }

.section-features {
  text-align: center;
  background: url("../images/features/features.png") center no-repeat;
  background-size: cover; }

.features_content {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .features_content {
      flex-wrap: wrap; } }
  @media (max-width: 520px) {
    .features_content {
      margin-top: 40px; } }
  .features_content-item {
    position: relative;
    width: 25%; }
    .features_content-item + .features_content-item {
      margin-left: 67px; }
    @media (max-width: 576px) {
      .features_content-item {
        width: 50%;
        margin-bottom: 40px; }
        .features_content-item + .features_content-item {
          margin-left: 0px; } }
    .features_content-item-title {
      font-size: 14px;
      color: #4074f8;
      margin-bottom: 35px; }
    .features_content-item-logo {
      margin-bottom: 30px; }
    .features_content-item-text {
      font-family: 'Roboto', sans-serif;
      color: #adb3cb;
      font-size: 11px;
      font-weight: 500;
      line-height: 177%; }
      @media (max-width: 576px) {
        .features_content-item-text {
          padding: 0 15px; } }
    .features_content-item:not(:first-child)::before {
      position: absolute;
      content: "";
      top: 65%;
      left: -48px;
      width: 28px;
      height: 2px;
      background-color: #dae4fe; }
      @media (max-width: 576px) {
        .features_content-item:not(:first-child)::before {
          display: none; } }

.features_btns {
  margin-top: 125px; }
  @media (max-width: 576px) {
    .features_btns {
      margin-top: 50px; } }
  @media (max-width: 520px) {
    .features_btns {
      display: flex;
      flex-direction: column; } }

.btn-features--left {
  padding: 13px 16px;
  background-color: #ffd7d7;
  color: #d43f3f; }
  @media (max-width: 520px) {
    .btn-features--left {
      margin-bottom: 20px; } }

.btn-features--right {
  margin-left: 0; }
  @media (max-width: 520px) {
    .btn-features--right {
      margin: 0 auto;
      margin-top: 20px; } }

.or {
  position: relative;
  font-size: 11px;
  color: #adb3cb;
  margin: 0px 48px; }
  .or::before {
    position: absolute;
    content: "";
    top: 30%;
    right: 30px;
    width: 15px;
    height: 2px;
    background-color: #dae4fe; }
  .or::after {
    position: absolute;
    content: "";
    top: 30%;
    left: 30px;
    width: 15px;
    height: 2px;
    background-color: #dae4fe; }

.section-stats {
  display: flex;
  font-family: 'Quicksand', sans-serif; }
  .section-stats-logo {
    margin-bottom: 20px; }
  .section-stats-num {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .section-stats-num {
        font-size: 36px; } }
    @media (max-width: 576px) {
      .section-stats-num {
        font-size: 24px; } }
  .section-stats-text {
    width: 50%;
    font-size: 18px;
    font-weight: 500; }
    @media (max-width: 992px) {
      .section-stats-text {
        width: 100%; } }
    @media (max-width: 576px) {
      .section-stats-text {
        font-size: 14px; } }

.section-stats-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  background-color: #6888ff;
  color: #fff;
  text-align: right;
  padding: 70px 90px; }
  @media (max-width: 576px) {
    .section-stats-left {
      padding: 40px 20px; } }

.section-stats-right {
  display: flex;
  flex-direction: column;
  color: #6888ff;
  padding: 70px 90px;
  width: 50%;
  background-color: #e0e9ff; }
  @media (max-width: 576px) {
    .section-stats-right {
      padding: 40px 20px; } }

.section-blog {
  background-color: #f5f8ff;
  text-align: center; }

.blogSlider_point-left {
  position: absolute;
  top: 50%;
  left: -75px;
  cursor: pointer;
  transform: rotate(180deg);
  opacity: .5;
  transition: all .4s ease-in-out; }
  .blogSlider_point-left:hover {
    opacity: 1; }
  @media (max-width: 1200px) {
    .blogSlider_point-left {
      display: none; } }

.blogSlider_point-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -75px;
  opacity: .5;
  transition: all .4s ease-in-out; }
  .blogSlider_point-right:hover {
    opacity: 1; }
  @media (max-width: 1200px) {
    .blogSlider_point-right {
      display: none; } }

.slider-wrapper {
  position: relative; }

.swiper-container {
  overflow: hidden; }

.dots-secondSlider {
  margin-bottom: 0; }

.swiper-pagination-bullet {
  margin-top: 100px; }
  .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 8px; }
  @media (max-width: 992px) {
    .swiper-pagination-bullet {
      margin-top: 40px; } }

.blogSlider {
  margin-top: 85px;
  position: relative; }
  @media (max-width: 992px) {
    .blogSlider {
      margin-top: 20px; } }
  .blogSlider_wrapper {
    background-color: #ffffff;
    list-style: none; }
  .blogSlider_inner {
    display: flex;
    padding: 60px 35px; }
    @media (max-width: 992px) {
      .blogSlider_inner {
        flex-wrap: wrap;
        margin-top: 20px; } }
    @media (max-width: 520px) {
      .blogSlider_inner {
        padding: 20px 15px; } }
  .blogSlider_pictures {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 13px;
    grid-row-gap: 13px; }
    @media (max-width: 992px) {
      .blogSlider_pictures {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 240px; } }
    .blogSlider_pictures-wrapper {
      display: block;
      width: 100%;
      height: 100%; }
    .blogSlider_pictures-first {
      position: relative;
      height: 100%;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3; }
    .blogSlider_pictures-second {
      position: relative;
      height: 100%;
      grid-row: 1 / 2;
      grid-column: 3 / 3; }
    .blogSlider_pictures-third {
      position: relative;
      height: 100%;
      grid-row: 3 / 2;
      grid-column: 3 / 3; }
  .blogSlider_content {
    width: 50%;
    margin-left: 67px; }
    @media (max-width: 992px) {
      .blogSlider_content {
        width: 100%;
        margin-left: 0; } }
    .blogSlider_content-title {
      margin-bottom: 32px;
      text-align: start; }
      @media (max-width: 992px) {
        .blogSlider_content-title {
          text-align: center;
          font-size: 24px; } }
      @media (max-width: 520px) {
        .blogSlider_content-title {
          font-size: 12px;
          margin-bottom: 16px; } }
    .blogSlider_content-text {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #8d96bd;
      text-align: start;
      line-height: 191%; }
      @media (max-width: 992px) {
        .blogSlider_content-text {
          text-align: center;
          font-size: 10px; } }
      @media (max-width: 520px) {
        .blogSlider_content-text {
          font-size: 8px;
          margin-bottom: 16px; } }

.lupa-first {
  position: absolute;
  display: block;
  top: 38%;
  left: 38%;
  width: 65px;
  height: 65px; }

.lupa {
  opacity: 0;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in-out; }
  @media (max-width: 992px) {
    .lupa {
      display: none; } }

.lupa-second {
  position: absolute;
  display: block;
  top: 38%;
  left: 36%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center; }

.lupa-third {
  position: absolute;
  display: block;
  top: 38%;
  left: 36%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center; }

.blogSlider_picture-item:hover .lupa {
  opacity: 1; }

.plan_btns {
  margin-top: 50px; }
  @media (max-width: 992px) {
    .plan_btns {
      margin-top: 25px;
      justify-content: center; } }
  @media (max-width: 520px) {
    .plan_btns-item {
      margin: 0 auto;
      margin-bottom: 20px; } }

.blogSlider_pictures-pic {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.plan_btns-item-noBg--blog {
  margin-left: 10px;
  border: none;
  color: #495274;
  opacity: .5;
  transition: all .7s; }
  .plan_btns-item-noBg--blog:hover {
    opacity: 1; }
  @media (max-width: 992px) {
    .plan_btns-item-noBg--blog {
      margin-left: 0;
      font-size: 8px; } }

.btn--blog {
  margin-left: 0; }
  @media (max-width: 992px) {
    .btn--blog {
      margin-right: 0; } }
  @media (max-width: 768px) {
    .btn--blog {
      font-size: 8px; } }

.section-quotes {
  background-color: #eaf0ff;
  overflow: hidden; }
  .section-quotes .section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 992px) {
      .section-quotes .section_inner {
        padding: 60px 40px; } }
    @media (max-width: 520px) {
      .section-quotes .section_inner {
        padding: 40px 0px; } }
  .section-quotes_left {
    width: 45%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 576px) {
      .section-quotes_left {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center; } }
  .section-quotes_right {
    width: 45%; }
    @media (max-width: 992px) {
      .section-quotes_right {
        width: 60%; } }
    @media (max-width: 576px) {
      .section-quotes_right {
        width: 100%; } }

.quotes-title {
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .quotes-title {
      margin-bottom: 20px; } }
  @media (max-width: 520px) {
    .quotes-title {
      margin-bottom: 10px; } }

.quotes-subtitle {
  margin-bottom: 25px; }
  @media (max-width: 992px) {
    .quotes-subtitle {
      margin-bottom: 12px; } }
  @media (max-width: 520px) {
    .quotes-subtitle {
      margin-bottom: 5px; } }

.quotes-text {
  max-width: 325px;
  color: #a4abc8;
  line-height: 190%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500; }
  @media (max-width: 576px) {
    .quotes-text {
      margin: 0 auto; } }
  @media (max-width: 520px) {
    .quotes-text {
      padding: 0px 30px; } }

.slider-quotes-container {
  width: 50vw;
  margin-bottom: 80px;
  overflow: hidden; }
  @media (max-width: 992px) {
    .slider-quotes-container {
      width: 60vw;
      margin-bottom: 40px; } }
  @media (max-width: 576px) {
    .slider-quotes-container {
      width: 78%;
      margin-left: -20px; } }
  @media (max-width: 519px) {
    .slider-quotes-container {
      width: 80%; } }

@media (max-width: 576px) {
  .section_inner-quotes {
    flex-direction: column;
    flex-wrap: wrap; } }

.slider-quotes {
  display: flex;
  list-style: none;
  padding: 48px; }
  .slider-quotes_item {
    max-width: 20vw;
    background-color: #fff;
    position: relative;
    padding: 42px 70px 52px 70px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px #f3f5fa;
    opacity: .5;
    transition: opacity 3s ease-in-out; }
    @media (max-width: 992px) {
      .slider-quotes_item {
        max-width: 30vw; } }
    @media (max-width: 768px) {
      .slider-quotes_item {
        max-width: 250px;
        padding: 21px 35px 50px 35px; } }
    @media (max-width: 576px) {
      .slider-quotes_item {
        max-width: 30vw; } }
    @media (max-width: 519px) {
      .slider-quotes_item {
        max-width: 30vw; } }
    .slider-quotes_item.swiper-slide-active {
      opacity: 1; }
    .slider-quotes_item-text {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #8d96bd;
      text-align: start;
      line-height: 191%; }
      @media (max-width: 992px) {
        .slider-quotes_item-text {
          font-size: 10px; } }
      @media (max-width: 576px) {
        .slider-quotes_item-text {
          display: block;
          margin: 0 auto; } }
      @media (max-width: 519px) {
        .slider-quotes_item-text {
          font-size: 8px; } }
    .slider-quotes_item-photo {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 22;
      transform: translateX(-50%);
      margin-top: -31px;
      width: 62px;
      height: 62px;
      border-radius: 100%;
      background-color: #fff; }

.dots-quotes {
  margin-bottom: 0;
  text-align: center;
  margin-left: -25px; }
  @media (max-width: 992px) {
    .dots-quotes {
      width: 60vw; } }
  .dots-quotes .swiper-pagination-bullet {
    margin-top: 0; }
  @media (max-width: 1024px) {
    .dots-quotes {
      margin-left: 50px; } }
  @media (max-width: 768px) {
    .dots-quotes {
      margin-left: -20px; } }
  @media (max-width: 576px) {
    .dots-quotes {
      margin: 0 auto; } }

.section-faq {
  text-align: center; }

.accordeon {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 740px; }
  .accordeon_icon {
    margin: 0px 25px; }
    .accordeon_icon-pic {
      transition: 1s;
      opacity: .5; }
  .accordeon_item {
    border-bottom: 1px solid #d8e3fe; }
    .accordeon_item-title {
      cursor: pointer;
      color: #8d96bd;
      display: flex;
      padding: 30px 0;
      text-align: start;
      position: relative; }
      .accordeon_item-title:hover {
        color: #495274; }
      .accordeon_item-title:hover .accordeon_icon-pic {
        opacity: 1; }
    .accordeon_item-content {
      display: flex;
      height: 0px;
      padding-left: 80px;
      align-items: center;
      transition: 1s;
      overflow: hidden; }
      @media (max-width: 520px) {
        .accordeon_item-content {
          display: flex;
          flex-direction: column;
          padding-left: 40px; } }
      .accordeon_item-content-text {
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 191%;
        color: #8d96bd;
        max-width: 395px;
        margin-right: 60px; }
        @media (max-width: 520px) {
          .accordeon_item-content-text {
            margin-right: 0; } }
  @media (max-width: 520px) {
    .accordeon {
      margin-top: 10px; } }

.btn-accordeon {
  border: none;
  background-color: #e8ecf4;
  max-height: 17px;
  padding: 13px 15px; }
  .btn-accordeon:hover {
    border: 1px solid #8d96bd; }
  @media (max-width: 520px) {
    .btn-accordeon {
      margin-top: 20px; } }

.accordeon_item.active .accordeon_icon-pic {
  transform: rotate(180deg); }

.accordeon_item.active .accordeon_item-content {
  height: 100px;
  padding: 0px 15px 25px 80px; }
  @media (max-width: 520px) {
    .accordeon_item.active .accordeon_item-content {
      height: 190px;
      padding: 0px 15px 25px 40px; } }

.section-get-started {
  background: url("../images/getStarted/back.png") center no-repeat;
  background-size: cover;
  text-align: center; }
  .section-get-started-title {
    color: #fff; }
  .section-get-started-content {
    max-width: 720px;
    margin: 0 auto; }
  .section-get-started-p {
    color: #fff;
    margin-bottom: 50px; }

.get-started-btns {
  justify-content: center;
  display: flex; }
  .get-started-btns-item {
    text-decoration: none;
    background-color: #fff;
    padding: 13px 25px;
    align-items: center;
    border-radius: 2px;
    color: #565f82;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer; }
    .get-started-btns-item-noBg {
      text-decoration: none;
      background-color: none;
      border-radius: 2px;
      padding: 13px 25px;
      border: 1px solid #c7d3ff;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      color: #c7d3ff; }

.section-newsletter {
  background-color: #fcfdff; }
  .section-newsletter-content {
    width: 35%; }

.section-newsletter-content {
  color: #8d96bd;
  font-size: 14px;
  line-height: 191%; }
  @media (max-width: 576px) {
    .section-newsletter-content {
      width: 100%; } }

.section-newsletter-form {
  display: flex; }
  @media (max-width: 863px) {
    .section-newsletter-form {
      max-width: 280px;
      padding-right: 40px;
      flex-wrap: wrap;
      margin-left: auto; } }
  @media (max-width: 576px) {
    .section-newsletter-form {
      margin-left: 0;
      margin-top: 20px; } }

.section_inner-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 576px) {
    .section_inner-newsletter {
      flex-wrap: wrap; } }

.input {
  border: 0px;
  background-color: #efeff7;
  color: #7a85ad;
  border-radius: 2px;
  width: 280px;
  padding: 21px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 700; }
  @media (max-width: 519px) {
    .input {
      width: 180px;
      font-size: 8px;
      padding: 15px; } }

.btn--form {
  padding: 22px 60px;
  border: 0px;
  background-color: #4d6ce1;
  color: #fff;
  margin-left: 14px;
  cursor: pointer; }
  @media (max-width: 863px) {
    .btn--form {
      padding: 15px 30px;
      margin-left: 0;
      margin-top: 10px; } }

.section-footer {
  border-bottom: 0; }
  .section-footer .section_inner {
    padding-top: 60px;
    padding-bottom: 60px; }
    @media (max-width: 1200px) {
      .section-footer .section_inner {
        padding-left: 20px;
        padding-right: 20px; } }

.copyright {
  color: #aeb8d0;
  margin-top: 36px;
  margin-left: 96px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif; }
  @media (max-width: 519px) {
    .copyright {
      margin-left: 0;
      text-align: center; } }

@media (max-width: 992px) {
  .main_navigation--footer {
    flex-direction: column; }
  .nav--footer {
    margin-bottom: 20px; }
  .socials-wrapper {
    margin-bottom: 20px; }
  .main_socials {
    margin: 0 auto;
    flex-direction: column; }
  .btn--footer {
    margin: 0 auto;
    margin-bottom: 20px; }
  .logo--footer {
    margin: 0 auto;
    margin-bottom: 20px; } }

@media (max-width: 519px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .nav-wrapper-item:first-child {
    margin-bottom: 10px; }
  .nav-wrapper-item + .nav-wrapper-item {
    margin-left: 0px;
    margin-bottom: 10px; } }
