@import url(normalize.css);
ul {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

h1 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #3d4f9f;
  margin-bottom: 25px; }

h2 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #3d4f9f; }

h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #3d4f9f; }

h4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  color: #3d4f9f;
  font-size: 10px;
  margin-bottom: 25px;
  text-transform: uppercase; }

h5 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3d4f9f;
  margin-bottom: 20px; }

.bold_text {
  font-weight: 500; }

body {
  padding-top: 72px;
  font-family: 'Roboto', sans-serif; }

.section_outer {
  border-bottom: 1px solid #d8e3fe; }

.section_inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section_inner--wide {
    max-width: 1200px; }

path {
  fill: #b6bac7; }

.section-header {
  padding: 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff; }
  .section-header .section_inner {
    padding-top: 20px;
    padding-bottom: 20px; }

.main_navigation {
  display: flex;
  align-items: center; }

.main_socials {
  display: flex;
  align-items: center;
  margin-left: auto; }

.logo {
  background-color: #5e81fe;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin-right: 72px; }

@media (max-width: 990px) {
  .nav--header {
    display: none; } }

@media (max-width: 990px) {
  .main_socials--header {
    display: none; } }

.nav-wrapper {
  display: flex; }
  .nav-wrapper-item {
    list-style: none; }
    .nav-wrapper-item + .nav-wrapper-item {
      margin-left: 40px; }
    .nav-wrapper-item-link {
      font-family: 'Quicksand', sans-serif;
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      color: #697ca6;
      transition: 0.2s linear; }
      .nav-wrapper-item-link:hover {
        color: #5e81fe; }

.socials-wrapper {
  display: flex;
  list-style: none; }
  .socials-wrapper-item + .socials-wrapper-item {
    margin-left: 40px; }
  .socials-wrapper-item-link path {
    transition: 0.2s linear; }
  .socials-wrapper-item-link:hover path {
    fill: #6188ff; }

.btn {
  margin-left: 44px;
  padding: 12px 16px;
  background-color: #d2e1ff;
  color: #3a79ff;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s linear; }
  .btn:hover {
    background-color: #305ab4; }

.btn-burger {
  margin-left: auto;
  display: none;
  padding: 8px 8px;
  background: none;
  border: 1px solid #D1D1E4;
  border-radius: 4px; }
  .btn-burger_line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d6dae5; }
    .btn-burger_line + .btn-burger_line {
      margin-top: 4px; }
  @media (max-width: 990px) {
    .btn-burger {
      display: block; } }

.section-hero-image {
  background-color: #f1f5ff;
  height: 570px;
  position: relative; }

.slider-image-item {
  background: url("../images/hero/back.png") center no-repeat;
  background-size: cover; }

.section_inner--hero {
  padding: 0;
  height: 100%; }

.slider-image {
  list-style: none; }

.hero_content {
  margin: 0 auto;
  text-align: center;
  padding-top: 92px;
  max-width: 584px; }
  .hero_content-p {
    color: #8d96bd;
    line-height: 191%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    max-width: 504px;
    margin-bottom: 20px; }

.swiper-pagination-bullets {
  margin-bottom: 35px; }

.swiper-pagination-bullet {
  cursor: pointer;
  width: 16px;
  height: 16px; }

.swiper-pagination {
  justify-content: center; }

.icon_play {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  height: 52px;
  width: 52px;
  border-radius: 100%;
  margin: 0 auto; }
  .icon_play::before {
    display: block;
    width: 0;
    height: 0;
    margin-left: 16px;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 8px 12px;
    border-left-color: #5e81ff; }

.section-customers .section_inner {
  padding-top: 60px;
  padding-bottom: 60px; }

.customers {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .customers_item {
    opacity: .1;
    transition: 0.2s linear; }
    .customers_item:hover {
      opacity: 1; }

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden; }

.hero_content-title--plan {
  font-size: 36px; }

.plan_content {
  width: 50%; }

.image_aside {
  position: absolute;
  top: 0;
  left: 45%;
  z-index: 1; }

.plan_btns {
  margin-top: 70px;
  display: flex; }
  .plan_btns-item {
    text-decoration: none;
    background-color: #4C85FF;
    padding: 13px 25px;
    align-items: center;
    border-radius: 2px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer; }
    .plan_btns-item-str {
      margin-left: 5px; }
    .plan_btns-item-noBg {
      text-decoration: none;
      border-radius: 2px;
      padding: 13px 25px;
      border: 1px solid #D1D1E4;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      color: #adb4d2; }

.section-features {
  text-align: center;
  background: url("../images/features/features.png") center no-repeat;
  background-size: cover; }

.features_content {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center; }
  .features_content-item {
    flex-basis: 25%; }
    .features_content-item + .features_content-item {
      margin-left: 67px; }
    .features_content-item-title {
      font-size: 14px;
      color: #4074f8;
      margin-bottom: 35px; }
    .features_content-item-logo {
      margin-bottom: 30px; }
    .features_content-item-text {
      font-family: 'Roboto', sans-serif;
      color: #adb3cb;
      font-size: 11px;
      font-weight: 500;
      line-height: 177%; }

.features_content-item {
  position: relative; }
  .features_content-item:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 65%;
    left: -48px;
    width: 28px;
    height: 2px;
    background-color: #dae4fe; }

.features_btns {
  margin-top: 125px; }

.btn-features--left {
  padding: 13px 16px;
  background-color: #ffd7d7;
  color: #d43f3f; }

.btn-features--right {
  margin-left: 0; }

.or {
  position: relative;
  font-size: 11px;
  color: #adb3cb;
  margin: 0px 48px; }
  .or::before {
    position: absolute;
    content: "";
    top: 30%;
    right: 30px;
    width: 15px;
    height: 2px;
    background-color: #dae4fe; }
  .or::after {
    position: absolute;
    content: "";
    top: 30%;
    left: 30px;
    width: 15px;
    height: 2px;
    background-color: #dae4fe; }

.section-stats {
  display: flex;
  font-family: 'Quicksand', sans-serif; }
  .section-stats-logo {
    margin-bottom: 20px; }
  .section-stats-num {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px; }
  .section-stats-text {
    width: 50%;
    font-size: 18px;
    font-weight: 500; }

.section-stats-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  background-color: #6888ff;
  color: #fff;
  text-align: right;
  padding: 70px 90px; }

.section-stats-right {
  display: flex;
  flex-direction: column;
  color: #6888ff;
  padding: 70px 90px;
  width: 50%;
  background-color: #e0e9ff; }

.section-blog {
  background-color: #f5f8ff;
  text-align: center; }

.section-quotes {
  background-color: #eaf0ff; }

.section-faq {
  text-align: center; }

.section-get-started {
  background: url("../images/getStarted/back.png") center no-repeat;
  background-size: cover;
  text-align: center; }
  .section-get-started-title {
    color: #fff; }
  .section-get-started-content {
    max-width: 720px;
    margin: 0 auto; }
  .section-get-started-p {
    color: #fff;
    margin-bottom: 50px; }

.get-started-btns {
  justify-content: center;
  display: flex; }
  .get-started-btns-item {
    text-decoration: none;
    background-color: #fff;
    padding: 13px 25px;
    align-items: center;
    border-radius: 2px;
    color: #565f82;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer; }
    .get-started-btns-item-noBg {
      text-decoration: none;
      background-color: none;
      border-radius: 2px;
      padding: 13px 25px;
      border: 1px solid #c7d3ff;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      color: #c7d3ff; }

.section-newsletter {
  background-color: #fcfdff; }
  .section-newsletter-content {
    width: 35%; }

.section-newsletter-content {
  color: #8d96bd;
  font-size: 14px;
  line-height: 191%; }

.section_inner-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.input {
  border: 0px;
  background-color: #efeff7;
  color: #7a85ad;
  border-radius: 2px;
  width: 280px;
  padding: 21px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 700; }

.btn--form {
  padding: 22px 60px;
  border: 0px;
  background-color: #4d6ce1;
  color: #fff;
  margin-left: 14px;
  cursor: pointer; }

.section-footer {
  border-bottom: 0; }
  .section-footer .section_inner {
    padding-top: 60px;
    padding-bottom: 60px; }

.copyright {
  color: #aeb8d0;
  margin-top: 36px;
  margin-left: 96px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif; }

@media (max-width: 990px) {
  .main_navigation--footer {
    flex-direction: column; }
  .nav--footer {
    margin-bottom: 20px; }
  .socials-wrapper {
    margin-bottom: 20px; }
  .main_socials {
    margin: 0 auto;
    flex-direction: column; }
  .btn--footer {
    margin: 0 auto;
    margin-bottom: 20px; }
  .logo--footer {
    margin: 0 auto;
    margin-bottom: 20px; } }
