@import 'normalize.css';


ul {
    padding: 0;
    margin: 0;
}

// ===== MIXIN =====

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

// ===== / MIXIN =====

// ===== VARIABLES =====
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-devider: #e4e6f0;

$padding-vertival: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$transition: .2s linear;



// ===== / VARIABLES =====

// ===== COMMON =====

body {
    @include roboto
}

.section_outer {
    border-bottom: 1px solid $color-devider;
}

.section_inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertival;
    padding-bottom: $padding-vertival;
    &--wide {
        max-width: 1200px;
    }
}

path{
    fill: #b6bac7;
}

// ===== / COMMON =====



// === HEADER ===
    .section-header {
        .section_inner {
            padding-top: $padding-vertical-xs;
            padding-bottom: $padding-vertical-xs;
        }
    }

    .main_navigation {
        display: flex;
        align-items: center;
      
    }

    .main_socials {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .logo {
        background-color: #5e81fe;
        border-radius: 100%;
        width: $base * 6;
        height: $base * 6;
        margin-right: $base * 18;
    }

    .nav-wrapper {
        display: flex;
            &-item {
            & + & {
                margin-left: $base * 10;
            }
            list-style: none;
                &-link {
                    @include quicksand;
                    text-decoration: none;
                    font-weight: $fw-bold;
                    font-size: 12px;
                    color: #697ca6;
                    transition: $transition;
                    &:hover {
                        color: #5e81fe;
                    }
                }
            }
        }

    .socials-wrapper {
        display: flex;
        list-style: none;
        &-item {
            & + & {
                margin-left: $base * 10;
            }
            &-link {
                path {
                    transition: $transition;
                }
                
                &:hover {
                    path{
                        fill: #6188ff;
                    }
                }
            }
        }
    }
    
    .btn {
        margin-left: $base * 11;
        padding: $base * 3 $base * 4;
        background-color: #d2e1ff;
        color: #3a79ff;
        border-radius: 2px;
        font-size: $base * 3;
        @include quicksand;
        font-weight: $fw-bold;
        text-decoration: none;
        transition: $transition;
        &:hover {
            background-color: #305ab4;;
        }

    }
// === / HEADER ===

// === HERO-IMAGE ===
    .section-hero-image {
        background-color: #f4f7ff;
    }
    
// === / HERO-IMAGE ===

// === CUSTOMERS ===
    .section-customers {
        .section_inner {
            padding-top: $padding-vertical-sm;
            padding-bottom: $padding-vertical-sm;
        }
    }
// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
    .section-plan-and-manage {
        background-color: #f5f8ff;
    }
// === / PLAN-AND-MANAGE ===

// === FEATURES ===
    .section-features {}
// === / FEATURES ===

// === STATS ===
    .section-stats {
        background-color: #6888ff;
        .section_inner {
            padding-top: $padding-vertical-sm;
            padding-bottom: $padding-vertical-sm;
        }
    }
// === / STATS ===

// === BLOG ===
    .section-blog {
        background-color: #f5f8ff;
    }
// === / BLOG ===

// === QUOTES ===
    .section-quotes {
        background-color: #eaf0ff;
    }
// === / QUOTES ===

// === FAQ ===
    .section-faq {}
// === / FAQ ===

// === GET-STARTED ===
    .section-get-started {
        background-color: #6888ff;
    }
// === / GET-STARTED ===

// === NEWSLETTER ===
    .section-newsletter {
        background-color: #fcfdff;
    }
// === / NEWSLETTER ===

// === FOOTER ===
    .section-footer {
        border-bottom: 0;
        .section_inner {
            padding-top: $padding-vertical-sm;
            padding-bottom: $padding-vertical-sm;
        }
    }

    .copyright {
        color: #aeb8d0;
        margin-top: $base * 9;
        margin-left: $base * 18 + $base * 6;
        font-size: $base * 3;
        @include quicksand;
    }
// === / FOOTER ===




