@import 'normalize.css';


ul {
    padding: 0;
    margin: 0;
}


p {
    margin: 0;
}

// ===== MIXIN =====

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

// ===== / MIXIN =====

// ===== VARIABLES =====
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-devider: #d8e3fe;

$padding-vertival: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;


$transition: .2s linear;


$breakpoint-s-min: 520px;
$breakpoint-s-max: $breakpoint-s-min - 1px;

$breakpoint-sm-min: 576px;
$breakpoint-sm-max: $breakpoint-sm-min - 1px;

$breakpoint-md-min: 768px;
$breakpoint-md-max: $breakpoint-md-min - 1px;

$breakpoint-lg-min: 992px;
$breakpoint-lg-max: $breakpoint-lg-min - 1px;

$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: $breakpoint-xl-min - 1px;

$breakpoint-xxl-min: 1400px;
$breakpoint-xxl-max: $breakpoint-xxl-min - 1px;


// ===== / VARIABLES =====

// ===== COMMON =====



h1 {
    margin: 0;
    @include quicksand;
    font-size: 48px;
    font-weight: $fw-regular;
    color: #3d4f9f;
    margin-bottom: 25px;

    @media (max-width: $breakpoint-lg-min) {
        font-size: 36px;
    }
    @media (max-width: $breakpoint-s-min) {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

h2 {
    margin: 0;
    @include quicksand;
    font-size: 36px;
    font-weight: $fw-regular;
    color: #3d4f9f;
        @media (max-width: $breakpoint-lg-min) {
            font-size: 24px;
        }
        @media (max-width: $breakpoint-s-min) {
            font-size: 12px;
        }
}

h3 {
    margin: 0;
    @include quicksand;
    font-size: 24px;
    font-weight: $fw-medium;
    color: #3d4f9f;
    @media (max-width: $breakpoint-s-min) {
        font-size: 24px;
    }
}

h4 {
    @include roboto;
    margin: 0;
    font-weight: $fw-medium;
    color: #3d4f9f;
    font-size: 10px;
    margin-bottom: 25px;
    text-transform: uppercase;
    @media (max-width: $breakpoint-lg-min) {
        font-size: 8px;
    }
    @media (max-width: $breakpoint-s-min) {
        font-size: 12px;
        margin-bottom: 5px;
    }
}


h5 {
    margin: 0;
    @include quicksand;
    font-size: 18px;
    font-weight: $fw-bold;
    color: #3d4f9f;
    margin-bottom: 20px;
}


.bold_text {
    font-weight: $fw-medium;
}

body {
    padding-top: $base * 18;
    @include roboto;
    @media (max-width:$breakpoint-s-max) {
        padding-top: $base * 12;
    }
}

.section_outer {
    border-bottom: 1px solid $color-devider;
}

.section_inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertival;
    padding-bottom: $padding-vertival;
    &--wide {
        max-width: 1200px;
        @media (max-width: $breakpoint-s-min) {
            padding-left: 10px;
        }
    }
    @media (max-width: $breakpoint-lg-min) {
        padding: 60px 40px;
    }
}

path{
    fill: #b6bac7;
}

// ===== / COMMON =====


// === HEADER ===
    .section-header {
        padding: 0px 15px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        .section_inner {
            padding-top: $padding-vertical-xs;
            padding-bottom: $padding-vertical-xs;
            @media (max-width: $breakpoint-s-min) {
                padding: 10px 10px;
            }
        }
        &::before {
            content: '';
            position: fixed;
            top: 202px;
            left: 0;
            display: none;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .5);
        }
        &--active {
            &::before {
                display: block;
            }
        }
    }

    .main_navigation {
        display: flex;
        align-items: center;
        @media (max-width: 990px) {
            flex-wrap: wrap;
        }
    }

    .section-header--active .navigation_wrapper{
        display: flex;
    }

    .section-header--active .body{
        overflow: hidden; /* Hide scrollbars */
    }


    .main_socials {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .logo {
        display: block;
        width: 100%;
        height: auto;
        background-color: #5e81fe;
        border-radius: 100%;
        width: $base * 6;
        height: $base * 6;
        margin-right: $base * 18;
    }

    .nav--header{
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
    }

    .navigation_wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        @media (max-width: 990px) {
            display: none;
            flex-direction: column;
        }
    }


    .nav-wrapper {
        display: flex;
            &-item {
            & + & {
                margin-left: $base * 10;
            }
            list-style: none;
                &-link {
                    @include quicksand;
                    text-decoration: none;
                    font-weight: $fw-bold;
                    font-size: 12px;
                    color: #697ca6;
                    transition: $transition;
                    &:hover {
                        color: #5e81fe;
                    }
                }
            }
        }

    .socials-wrapper {
        display: flex;
        list-style: none;
        &-item {
            & + & {
                margin-left: $base * 10;
            }
            &-link {
                path {
                    transition: $transition;
                }
                
                &:hover {
                    path{
                        fill: #6188ff;
                    }
                }
            }
        }
    }
    
    .btn {
        margin-left: $base * 11;
        padding: $base * 3 $base * 4;
        background-color: #d2e1ff;
        color: #3a79ff;
        border-radius: 2px;
        font-size: $base * 3;
        @include quicksand;
        font-weight: $fw-bold;
        text-decoration: none;
        transition: $transition;
        &:hover {
            background-color: #305ab4;;
        }
        @media (max-width: 990px) {
            margin: 0 auto;
        }

    }


    .btn-burger {
        display: none;
        margin-left: auto;
        padding: 8px 8px;
        background: none;
        border: 1px solid #D1D1E4;
        border-radius: 4px;
        cursor: pointer;
        &_line {
            display: block;
            width: $base * 4;
            height: $base/2;
            background-color: #d6dae5;
            & + & {
                margin-top: $base;
            }
        }
        &:active .btn-burger_line{
            background-color: grey;
        }
        &:active {
            border: 1px solid grey;
        }
        @media (max-width: 990px) {
            display: block;
        }
    }



// === / HEADER ===

// === HERO-IMAGE ===
    .section-hero-image {
        background-color: #f1f5ff;
        height: 570px;
        position: relative;
        @media (max-width:$breakpoint-s-max) {
           max-height: 410px;
        }
    }

    .slider-image-item {
        background: url("../images/hero/back.png") center no-repeat;
        background-size: cover;
    }

    .section_inner--hero {
        padding: 0;
        height: 100%;
    }

    .slider-image {
        list-style: none;
    }

    .hero_content {
        margin: 0 auto;
        text-align: center;
        padding-top: $base * 23;
        max-width: $base * 146; 
        @media (max-width:$breakpoint-s-max) {
            padding-top: $base * 13;
        }
            &-p {
                color: #8d96bd;
                line-height: 191%;
                font-size: 15px;
                @include roboto;
                display: inline-block;
                max-width: $base * 126;
                margin-bottom: 20px;
                @media (max-width:$breakpoint-s-max) {
                    max-width: 215px;
                }
                @media (max-width:$breakpoint-s-max) {
                    font-size: 8px;
                }
            }
            &-title {
                @media (max-width:$breakpoint-s-max) {
                    max-width: 215px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                        }
                }
            }

    .swiper-pagination-bullets {
        margin-bottom: 35px;
    }

    .swiper-pagination-bullet{
        cursor: pointer;
        width: $base * 4;
        height: $base * 4;
        
    }

    .swiper-pagination {
        justify-content: center;
    }

    .icon_play {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 10px 50px rgba(#c9d1e7, .6);
        height: $base * 13;
        width: $base * 13;
        border-radius: 100%;
        margin: 0 auto;
        &::before {
            display: block;
            width: 0;
            height: 0;
            margin-left: $base * 4;
            content: "";
            border-color: transparent;
            border-style: solid;
            border-width: $base*2 $base*3;
            border-left-color: #5e81ff;
        }
    }

// === / HERO-IMAGE ===

// === CUSTOMERS ===
    .section-customers {
        .section_inner {
            padding-top: $padding-vertical-sm;
            padding-bottom: $padding-vertical-sm;
        }
    }

    .customers {
        display: flex;
        justify-content: space-between;
        align-items: center;
            @media (max-width: $breakpoint-lg-min) {
                max-width: 400px;
                margin: 0 auto;
            }
        &_item {
            opacity: .1;
            transition: $transition;
            &:hover {
                opacity: 1;
            }
            @media (max-width: $breakpoint-lg-min) {
                width: 50%;
                text-align: center;
                margin-bottom: 40px;
                &:last-child {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }

            }
            @media (max-width: $breakpoint-s-min) {
                width: 100%;
            }
        }
        @media (max-width: $breakpoint-lg-min) {
           flex-wrap: wrap;
        }
        
    }
// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
    .section-plan-and-manage {
        background-color: #f5f8ff;
        position: relative;
        overflow: hidden;
    }

    .hero_content-title--plan {
        font-size: 36px;
    }

    .plan_content {
        width: 50%;
        @media (max-width: $breakpoint-lg-min) {
            width: 35%;
         }
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .hero_content-p--plan {
        @media (max-width: 700px) {
            margin: 0 auto;
        }
    }
    
    .section_inner--plan {
        @media (max-width: $breakpoint-lg-min) {
            padding-top: 80px;
            padding-bottom: 80px;
         }
        @media (max-width: $breakpoint-md-min) {
            text-align: center;
        }
        @media (max-width: 700px) {
            padding-bottom: 0px;
        }
        @media (max-width: $breakpoint-s-min) {
            padding-top: 40px;
        }
    }

    .image_aside {
        position: absolute;
        top: 0;
        left: 45%;
        z-index: 1;
        @media (max-width: 1025px) {
            left: 35%;
         }
        @media (max-width: $breakpoint-lg-min) {
            left: 25%;
         }
        @media (max-width: 830px) {
            max-width: 700px;
            top: 50px;
        }
        @media (max-width: 700px) {
            position: unset;
            width: 100%;
            margin: 0 auto;
            max-height: 550px;
            margin-top: 30px;
        }
    }


    .plan_btns {
        margin-top: 70px;
        display: flex;
            @media (max-width: 830px) {
                flex-wrap: wrap;
                margin-top: 0px;
            }
        &-item {
            &-str {
                margin-left: 5px;
            }
            text-decoration: none;
            background-color: #4C85FF;
            padding: 13px 25px;
            align-items: center;
            border-radius: 2px;
            color: #fff;
            @include quicksand;
            font-size: 13px;
            font-weight: $fw-bold;
            cursor: pointer;
            
            @media (max-width: 830px) {
                margin-bottom: 10px;
            }
            @media (max-width: 700px) {
                margin-bottom: 0px;
                margin-right: 10px;
            }
            &-noBg {
                text-decoration: none;
                border-radius: 2px;
                padding: 13px 25px;
                border: 1px solid #D1D1E4;
                cursor: pointer;
                font-size: 13px;
                font-weight: $fw-bold;
                color: #adb4d2;
            }
        }
    }
// === / PLAN-AND-MANAGE ===

// === FEATURES ===
    .section-features {
        text-align: center;
        background: url("../images/features/features.png") center no-repeat;
        background-size: cover;
    }

    .features_content {
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: center;

        @media (max-width: $breakpoint-sm-min) {
            flex-wrap: wrap;
        }
        @media (max-width: $breakpoint-s-min) {
            margin-top: 40px;
        }
        &-item {
            position: relative;
            width: 25%;
            & + & {
                margin-left: 67px;
            }
            @media (max-width: $breakpoint-sm-min) {
                width: 50%;
                margin-bottom: 40px;
                & + & {
                    margin-left: 0px;
                }
            }
            &-title {
                font-size: 14px;
                color: #4074f8;
                margin-bottom: 35px;
            }

            &-logo {
                margin-bottom: 30px;
            }
            &-text {
                @include roboto;
                color: #adb3cb;
                font-size: 11px;
                font-weight: $fw-medium;
                line-height: 177%;
                @media (max-width: $breakpoint-sm-min) {
                   padding: 0 15px;
                }
            }
            &:not(:first-child)::before {
                position: absolute;
                content: "";
                top: 65%;
                left: -48px;
                width: 28px;
                height: 2px;
                background-color: #dae4fe;
                @media (max-width: $breakpoint-sm-min) {
                    display: none;
                }
            }
        }
    }

    .features_btns {
        margin-top: 125px;
        @media (max-width: $breakpoint-sm-min) {
            margin-top: 50px;
        }
        @media (max-width: $breakpoint-s-min) {
            display: flex;
            flex-direction: column;
        }
    }

    .btn-features--left {
        padding: 13px 16px;
        background-color: #ffd7d7;
        color: #d43f3f;
        @media (max-width: $breakpoint-s-min) {
            margin-bottom: 20px;
        }
    }

    .btn-features--right {
        margin-left: 0;
        @media (max-width: $breakpoint-s-min) {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .or {  
        position: relative; 
        font-size: 11px;
        color: #adb3cb;
        margin: 0px 48px;
        &::before {
            position: absolute;
            content: "";
            top: 30%;
            right: 30px;
            width: 15px;
            height: 2px;
            background-color: #dae4fe;
        }
        &::after {
            position: absolute;
            content: "";
            top: 30%;
            left: 30px;
            width: 15px;
            height: 2px;
            background-color: #dae4fe;
        }
    }

// === / FEATURES ===

// === STATS ===
    .section-stats {
        display: flex;
        @include quicksand;
            &-logo {
               margin-bottom: 20px;
            }

            &-num {
                font-size: 48px;
                font-weight: $fw-medium;
                margin-bottom: 20px;
                @media (max-width: $breakpoint-lg-min) {
                    font-size: 36px;
                }
                @media (max-width: $breakpoint-sm-min) {
                    font-size: 24px;
                }
            }

            &-text {
                width: 50%;
                font-size: 18px;
                font-weight: $fw-medium;
                @media (max-width: $breakpoint-lg-min) {
                    width: 100%;
                }
                @media (max-width: $breakpoint-sm-min) {
                    font-size: 14px;
                }
            }
    }

    .section-stats-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        background-color: #6888ff;
        color: #fff;
        text-align: right;
        padding: 70px 90px;
        @media (max-width: $breakpoint-sm-min) {
            padding: 40px 20px;
        }
        
    }

    .section-stats-right {
        display: flex;
        flex-direction: column;
        color: #6888ff;
        padding: 70px 90px;
        width: 50%;
        background-color: #e0e9ff;
        @media (max-width: $breakpoint-sm-min) {
            padding: 40px 20px;
        }
    }
// === / STATS ===

// === BLOG ===
    .section-blog {
        background-color: #f5f8ff;
        text-align: center;
    }

    .blogSlider_point-left {
        position: absolute;
        top: 50%;
        left: -75px;
        cursor: pointer;
        transform: rotate(180deg);
        opacity: .5;
        transition: all .4s ease-in-out;
        &:hover {
            opacity: 1;
        }
                @media (max-width: $breakpoint-xl-min) {
                    display: none;
                }
    }
    .blogSlider_point-right {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: -75px;
        opacity: .5;
        transition: all .4s ease-in-out;
        &:hover {
            opacity: 1;
        }
                @media (max-width: $breakpoint-xl-min) {
                    display: none;
                }
    }


    .slider-wrapper {
        position: relative;
    }

    .dots-secondSlider {
        margin-bottom: 0;
    }

    .swiper-pagination-bullet {
        margin-top: 100px;
        & + & {
            margin-left: 8px;
        }

        @media (max-width: $breakpoint-lg-min) {
            margin-top: 40px;
        }
    }


    .blogSlider {
        margin-top: 85px;
        position: relative;
            @media (max-width: $breakpoint-lg-min) {
                margin-top: 20px;
            }   
        &_wrapper {
            background-color: #ffffff;
            list-style: none;
        }
        &_inner {
            display: flex;
            padding: 60px 35px;

            @media (max-width: $breakpoint-lg-min) {
                flex-wrap: wrap;
                margin-top: 20px;
            }
            @media (max-width: $breakpoint-s-min) {
                padding: 20px 15px;
            }
            
        }
        &_pictures {
            width: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
            grid-column-gap: 13px;
            grid-row-gap: 13px;

            @media (max-width: $breakpoint-lg-min) {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 30px;
                max-width: 240px;
            }
            &-wrapper {
                display: block;
                width: 100%;
                height: 100%;
            }
            &-first {
                position: relative;
                height: 100%;
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &-second {
                position: relative;
                height: 100%;
                grid-row: 1 / 2;
                grid-column: 3 / 3;
            }
            &-third {
                position: relative;
                height: 100%;
                grid-row: 3 / 2;
                grid-column: 3 / 3;
            }
        }
        &_content {
            width: 50%;
            margin-left: 67px;

            @media (max-width: $breakpoint-lg-min) {
                width: 100%;
                margin-left: 0;
            }

            &-title {
                margin-bottom: 32px;
                text-align: start;

                @media (max-width: $breakpoint-lg-min) {
                    text-align: center;
                    font-size: 24px;
                }
                @media (max-width: $breakpoint-s-min) {
                    font-size: 12px;
                    margin-bottom: 16px;
                }
            }
            
                
            &-text {
                @include roboto;
                font-size: 14px;
                color: #8d96bd;
                text-align: start;
                line-height: 191%;

                @media (max-width: $breakpoint-lg-min) {
                    text-align: center;
                    font-size: 10px;
                }
                @media (max-width: $breakpoint-s-min) {
                    font-size: 8px;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .lupa-first {
        position: absolute;
        display: block;
        top: 38%;
        left: 38%;
        width: 65px;
        height: 65px;
    }

    .lupa {
        opacity: 0;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .1s ease-in-out;
        @media (max-width: $breakpoint-lg-min) {
            display: none;
        }
    }
    

    .lupa-second {
        position: absolute;
        display: block;
        top: 38%;
        left: 36%;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lupa-third {
        position: absolute;
        display: block;
        top: 38%;
        left: 36%;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blogSlider_picture-item {
        &:hover {
            .lupa {
                opacity: 1;
            }
        }
    }


    .plan_btns {
        margin-top: 50px;

        @media (max-width: $breakpoint-lg-min) {
            margin-top: 25px;
            justify-content: center;
        }
        &-item {
            @media (max-width: $breakpoint-s-min) {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }

    .blogSlider_pictures-pic {
        display: block;
        width: 100%;
        height: 100%;

        border-radius: 5px;
    }

    .plan_btns-item-noBg--blog {
        margin-left: 10px;
        border: none;
        color: #495274;
        opacity: .5;
        transition: all .7s;
        &:hover {
            opacity: 1;
        }
        @media (max-width: $breakpoint-lg-min) {
            margin-left: 0;
            font-size: 8px;
        }
        @media (max-width: $breakpoint-s-min) {
            
        }
    }

    .btn--blog {
        margin-left: 0;
        @media (max-width: $breakpoint-lg-min) {
            margin-right: 0;
        }
        @media (max-width: $breakpoint-md-min) {
            font-size: 8px;
        }
    }


// === / BLOG ===

// === QUOTES ===
    .section-quotes {
        background-color: #eaf0ff;
        overflow: hidden;
        .section_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $breakpoint-lg-min) {
                padding: 60px 40px;
            }
            @media (max-width: $breakpoint-s-min) {
                padding: 40px 0px;
            }
        }
        &_left {
            width: 45%;
            display: flex;
            flex-direction: column;
            @media (max-width: $breakpoint-sm-min) {
               width: 100%;
               display: flex;
               text-align: center;
               justify-content: center;
               
            }
        }
        &_right {
            width: 45%;
            @media (max-width: $breakpoint-lg-min) {
                width: 60%;
            }
            @media (max-width: $breakpoint-sm-min) {
                width: 100%
             }
        }
    }
    .quotes-title {
        margin-bottom: 40px;
        @media (max-width: $breakpoint-lg-min) {
            margin-bottom: 20px;
        }
        @media (max-width: $breakpoint-s-min) {
            margin-bottom: 10px;
        }
    }
    .quotes-subtitle {
        margin-bottom: 25px;
        @media (max-width: $breakpoint-lg-min) {
            margin-bottom: 12px;
        }
        @media (max-width: $breakpoint-s-min) {
            margin-bottom: 5px;
        }
    }
    .quotes-text {
        max-width: 325px;
        color: #a4abc8;
        line-height: 190%;
        @include roboto;
        font-size: 14px;
        font-weight: $fw-medium;
        @media (max-width: $breakpoint-sm-min) {
            margin: 0 auto;
        }
        @media (max-width: $breakpoint-s-min) {
            padding: 0px 30px;
        }
    }


    .slider-quotes-container {
        width: 50vw;
        margin-bottom: 80px;
        overflow: visible;
        @media (max-width: $breakpoint-lg-min) {
            width: 60vw;
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint-sm-min) {
            width: 78%;
            margin-left: -20px;
        }
        @media (max-width:$breakpoint-s-max) {
            width: 80%;
        }
    }

    .section_inner-quotes {
        @media (max-width: $breakpoint-sm-min) {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    
    

    .slider-quotes {
        display: flex;
        list-style: none;
        padding: 48px;
        
        &_item {
            max-width: 20vw;
            background-color: #fff;
            position: relative;
            padding: 42px 70px 52px 70px;
            border-radius: 5px;
            box-shadow: 0px 4px 50px #f3f5fa;
            opacity: .5;
            transition: opacity 3s ease-in-out;

            @media (max-width: $breakpoint-lg-min) {
                max-width: 30vw;
            }

            @media (max-width: $breakpoint-md-min) {
                max-width: 250px;
                padding: 21px 35px 50px 35px;
            }
            @media (max-width: $breakpoint-sm-min) {
                // max-width: 200px;
                max-width: 30vw;
            }
            @media (max-width:$breakpoint-s-max) {
                max-width: 30vw;
            }

            &.swiper-slide-active {
                opacity: 1;
             }

            &-text {
                @include roboto;
                font-size: 14px;
                color: #8d96bd;
                text-align: start;
                line-height: 191%;
                @media (max-width: $breakpoint-lg-min) {
                    font-size: 10px;
                }
                @media (max-width: $breakpoint-sm-min) {
                    display: block;
                    margin: 0 auto;
                }
                @media (max-width:$breakpoint-s-max) {
                    font-size: 8px;
                }
    
            }
            &-photo {
                $height: 62px;
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 22;
                transform: translateX(-50%);
                margin-top: -$height/2;
                width: 62px;
                height: 62px;
                border-radius: 100%;
                background-color: #fff;
            }
        }
    }

    .dots-quotes {
        margin-bottom: 0;
        text-align: center;
        margin-left: -25px;

        @media (max-width: $breakpoint-lg-min) {
            width: 60vw;
        }
        .swiper-pagination-bullet {
            margin-top: 0;
        }
        @media (max-width: 1024px) {
            margin-left: 50px;
        }
        @media (max-width: $breakpoint-md-min) {
            margin-left: -20px;
        }
        @media (max-width: $breakpoint-sm-min) {
            margin: 0 auto;
        }
    }





// === / QUOTES ===

// === FAQ ===
    
    .section-faq {
        text-align: center;
    }

    .accordeon {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 740px;
    &_icon {
        margin: 0px 25px;
        &-pic {
            transition: 1s;
            opacity: .5;
        }
    }
        &_item {
            border-bottom: 1px solid #d8e3fe;
            &-title {
                cursor: pointer;
                color: #8d96bd;
                display: flex;
                padding: 30px 0;
                text-align: start;
                position: relative;
                &:hover {
                    color: #495274;
                }
                &:hover .accordeon_icon-pic {
                    opacity: 1;
                }
            }
            &-content {
                display: flex;
                height: 0px;
                padding-left: 80px;
                align-items: center;
                transition: 1s;
                overflow: hidden;
                @media (max-width: $breakpoint-s-min) {
                    display: flex;
                    flex-direction: column;
                    padding-left: 40px;
                }
                &-text {
                    text-align: start;
                    @include roboto;
                    font-size: 14px;
                    font-weight: $fw-regular;
                    line-height: 191%;
                    color: #8d96bd;
                    max-width: 395px;
                    margin-right: 60px;
                    @media (max-width: $breakpoint-s-min) {
                        margin-right: 0;
                        
                    }
                }
            }
        }
        @media (max-width: $breakpoint-s-min) {
            margin-top: 10px;
        }
    }

    .btn-accordeon {
        border: none;
        background-color: #e8ecf4;
        max-height: 17px;
        padding: 13px 15px;
        &:hover {
            border: 1px solid #8d96bd;
        }
        @media (max-width: $breakpoint-s-min) {
            margin-top: 20px;
        }
    }

    .accordeon_item.active .accordeon_icon-pic {
        transform: rotate(180deg);
    }

    .accordeon_item.active .accordeon_item-content {
        height: 100px;
        padding: 0px 15px 25px 80px;
        @media (max-width: $breakpoint-s-min) {
            height: 190px;
            padding: 0px 15px 25px 40px;
        }
    }

// === / FAQ ===

// === GET-STARTED ===
    .section-get-started {
        background: url("../images/getStarted/back.png") center no-repeat;
        background-size: cover;
        text-align: center;

        &-title {
            color: #fff;
        }

        &-content {
            max-width: 720px;
            margin: 0 auto;
        }
        &-p {
            color: #fff;
            margin-bottom: 50px;
        }
    }

    .get-started-btns {
        justify-content: center;
        display: flex;
        &-item {
            text-decoration: none;
            background-color: #fff;
            padding: 13px 25px;
            align-items: center;
            border-radius: 2px;
            color: #565f82;
            @include quicksand;
            font-size: 13px;
            font-weight: $fw-bold;
            cursor: pointer;
            &-noBg {
                text-decoration: none;
                background-color: none;
                border-radius: 2px;
                padding: 13px 25px;
                border: 1px solid #c7d3ff;
                cursor: pointer;
                font-size: 13px;
                font-weight: $fw-bold;
                color: #c7d3ff;
            }
        }
    }

// === / GET-STARTED ===

// === NEWSLETTER ===
    .section-newsletter {
        background-color: #fcfdff;
        &-content {
            width: 35%;
        }
    }

    .section-newsletter-content {
        color: #8d96bd;
        font-size: 14px;
        line-height: 191%;
        @media (max-width: $breakpoint-sm-min) {
            width: 100%;
        }
    }

    .section-newsletter-form {
        display: flex;
        @media (max-width: 863px) {
            max-width: 280px;
            padding-right: 40px;
            flex-wrap: wrap;
            margin-left: auto;
        }
        @media (max-width: $breakpoint-sm-min) {
            margin-left: 0;
            margin-top: 20px;
        }
    }


    .section_inner-newsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $breakpoint-sm-min) {
            flex-wrap: wrap;
        }
    }

    .input {
        border: 0px;
        background-color: #efeff7;
        color: #7a85ad;
        border-radius: 2px;
        width: 280px;
        padding: 21px;
        @include quicksand;
        font-size: 13px;
        font-weight: $fw-bold;
        @media (max-width:$breakpoint-s-max) {
            width: 180px;
            font-size: 8px;
            padding: 15px;
        }
    }

    .btn--form {
        padding: 22px 60px;
        border: 0px;
        background-color: #4d6ce1;
        color: #fff;
        margin-left: 14px;
        cursor: pointer;
            @media (max-width: 863px) {
                padding: 15px 30px;
                margin-left: 0;
                margin-top: 10px;
            }
    }
// === / NEWSLETTER ===

// === FOOTER ===
    .section-footer {
        border-bottom: 0;
        .section_inner {
            padding-top: $padding-vertical-sm;
            padding-bottom: $padding-vertical-sm;
            @media (max-width: $breakpoint-xl-min) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .copyright {
        color: #aeb8d0;
        margin-top: $base * 9;
        margin-left: $base * 18 + $base * 6;
        font-size: $base * 3;
        @include quicksand;
        @media (max-width:$breakpoint-s-max) {
            margin-left: 0;
            text-align: center;
            
        }
    }
    @media (max-width: $breakpoint-lg-min) {
        .main_navigation--footer {
            flex-direction: column;
        }
        .nav--footer{
            margin-bottom: 20px;
        }
        .socials-wrapper{
            margin-bottom: 20px;
        }
        .main_socials {
            margin: 0 auto;
            flex-direction: column;
        }
        .btn--footer {
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .logo--footer {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    @media (max-width:$breakpoint-s-max) {
        .nav-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .nav-wrapper-item {
            &:first-child {
                margin-bottom: 10px;
            }
            & + & {
                margin-left: 0px;
                margin-bottom: 10px;
            }
            // margin: 0 auto;
        }
    }
    
// === / FOOTER ===




